.header-img {
    width: 21px;
    position: absolute;
    top: 282px;
}
.header-word, .desc-header {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 27px;
    font-weight: bold;
    color: #c5590f;
    margin-left: 10px;
    margin-bottom: 10px;
}
.desc-header {
    font-size: 20px;
}
.desc-header-wrapper {
    border-bottom-width: 1px;
    border-bottom-style: none;
    border-bottom-color: #000000;
}