.first-part-header, .second-part-header, .third-part-header {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 11px;
}
/* .first-part-header-wrapper, .second-part-header-wrapper, .third-part-header-wrapper {
    border-bottom-style: solid;
    border-bottom-color: #c5590f;
    border-bottom-width: 1px;   
} */

.img {
    width: 275px;
}
.gioi-thieu-desc-wrapper {
    font-size: 18px;
    width: 431px;
    text-align: justify;
}
.tam-nhin-img, .su-menh-img, .gia-tri-img {
    width: 66px;
}

.tam-nhin-header, .su-menh-header, .gia-tri-header {
    letter-spacing: .05em;
}
.tam-nhin-content, .su-menh-content, .gia-tri-content {
    letter-spacing: .03em;
    font-size: 18px;
    text-align: justify;
    line-height: 1.7em;
    width: 631px;
}
.tam-nhin-wrapper, .su-menh-wrapper, .gia-tri-wrapper {
    width: 721px;
    display: flex;
    justify-content: space-around;
}
