.first-part-header, .second-part-header, .third-part-header {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 11px;
}
/* .first-part-header-wrapper, .second-part-header-wrapper, .third-part-header-wrapper {
    border-bottom-style: solid;
    border-bottom-color: #c5590f;
    border-bottom-width: 1px;   
} */
.left-header {
    font-size: 24px;
    color: #c5590f;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    margin-bottom: 5px;
}
.first-part-content, .second-part-content, .third-part-content {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #595959;
    margin-bottom: 9px;
}
.img {
    width: 275px;
}
.gioi-thieu-desc-wrapper {
    font-size: 18px;
    width: 431px;
    text-align: justify;
}
.tam-nhin-img, .su-menh-img, .gia-tri-img {
    width: 66px;
}
.tam-nhin-header, .su-menh-header, .gia-tri-header, .chuong-trinh-noi-bat-header, .chu-de-dao-tao-header {
    color: #c5590f;
    font-size: 24px;
    line-height: 1.2em;
    font-family: Roboto Condensed, sans-serif;
    font-weight: 700;
}
.tam-nhin-header, .su-menh-header, .gia-tri-header {
    letter-spacing: .05em;
}
.tam-nhin-content, .su-menh-content, .gia-tri-content {
    letter-spacing: .03em;
    font-size: 18px;
    text-align: justify;
    line-height: 1.7em;
    width: 631px;
}
.tam-nhin-wrapper, .su-menh-wrapper, .gia-tri-wrapper {
    width: 721px;
    display: flex;
    justify-content: space-around;
}